body
{
    /*background-color: rgb(90, 123, 231);*/
    background-image: linear-gradient(to bottom, #78a5ea, #00c3ff, #00dbe0, #00ea8f, #a8eb12);
    /*background-image:url("/assets/pexels-johannes-plenio-1103970.jpg");*/
    background-repeat: no-repeat;
}

header
{
    /*background-color: #0000006e;*/
    text-align: center;
    text-decoration:underline;
    font-family: 'Press Start 2P', cursive;
    height: 50px;
    margin: auto;
}

.game
{
    background-color:#FFF ;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
}

.logo
{
    width: 50px;
    height: 50px;
}

.guessWords
{
    font-size: 30px;
    font-weight: 150;
    text-align: center;
}

.wrong-guess
{
    font-size: 20px;
    float: left;
    margin-top: 50px;
    font-family :fantasy;
}

.start
{
    font-family: 'Lexend Mega', sans-serif ;
}

.hangman-img
{
    margin-left: 300px;
    margin-top: 50px;
    width: 40%;
    border: 5px solid rgba(0, 0, 0, 0.24);
}

.resetStart
{
    background: rgb(19, 187, 150);
    color : rgb(38, 31, 51) ;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.534);
}